This is my first markdown

In [3]:
print("Welcome to the course") # Here I added a comment

Welcome to the course

In [2]:
# This is a comment

Variables and data types

In [5]:
name = "Pedro"
type(name)

str

In [6]:
age = 21
type(age)

int

In [7]:
#float 
height = 1.70
type(height)

float

In [8]:
is_student = False
type(is_student)

bool

Operators

In [9]:
num1 = 10
num2 = 5

In [10]:
addition = num1 + num2
addition

15

In [11]:
substraction = num1- num2
substraction

5

In [12]:
multiplication = num1 * num2
multiplication

50

In [13]:
Division = num1 / num2
Division

2.0

In [14]:
exponentiation = num1 ** num2
exponentiation

100000

In [15]:
#Order of the operations

#Parenthesis - exponents- Multiplication - Division
#Addition - Substraction

Pemdas = (num1 +3) * num2 / 2 **2
Pemdas

16.25

In [17]:
Total = 0
Total += 5
Total

5

In [18]:
Total -= 2
Total

3

In [19]:
Total *= 3
Total

9

In [23]:
x = 5 
y = 10

result1 = x==y #Equal
print(result1)

result2 = x != y #Not Equal
result2

False

True

In [24]:
a = 15
b = 20

result1 = a < b
print(result1)

result2 = a > b 
print(result2)

result3 = a <= b 
print(result3)

result4 = a >= b 
print(result4)

True
False
True
False

In [25]:
num = 25

result = 10 <= num <= 30
result

True

In [27]:
var1 = 10
var2 = 10

result1 = var1 is var2
result1

result2 = var1 is not var2
result2

False

In [32]:
greeting = "Hello, Python!"
print(len(greeting))
print(greeting[0])
print(greeting[-1])
print(greeting[7:14])
print(greeting + " " + "Welcome")

14
H
!
Python!
Hello, Python! Welcome

In [34]:
sentence = "Python is amazing programming language"
print(sentence.upper())
print(sentence.lower())
print(sentence.find("amazing"))
print(sentence.replace("amazing", "powerful"))
print(sentence)
sentence = sentence.replace("amazing", "powerful")
print(sentence)
print(sentence.count("i"))

PYTHON IS AMAZING PROGRAMMING LANGUAGE
python is amazing programming language
10
Python is powerful programming language
Python is amazing programming language
Python is powerful programming language
2

In [37]:
name ="Jack"
age = 30

formatted_string = f"Hello, my name is {name} and I'm {age} years old"
print(formatted_string)

formatted_string2 = "Hello, my name is {} and I'm {} years old".format(name, age)
print(formatted_string2)

Hello, my name is Jack and I'm 30 years old
Hello, my name is Jack and I'm 30 years old

In [39]:
age = 15
if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are not an adult.

In [40]:
temperature = 28

if temperature > 30:
    print("It's hot outside! Stay hydrated!")
elif 20 <= temperature <= 30:
    print("The weather is ok")
else:
    print("it's a cold day")

The weather is ok

In [41]:
is_raining = True
is_cold = False

if is_raining:
    print("Take an umbrella")
    if is_cold:
        print("wear a jacket too")
else: print("Enjoy the day")

Take an umbrella

In [42]:
age = 18

"Yu are allowed" if age>=18 else "You are not allowed"

'Yu are allowed'

In [44]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

for number in range(1,4):
    print(f"Number: {number}")

apple
banana
cherry
Number: 1
Number: 2
Number: 3

In [45]:
count = 0 

while count < 3:
    print(f"Count: {count}")
    count +=1

Count: 0
Count: 1
Count: 2

In [49]:
#List
numbers = [1,2,3,4,5]
print(numbers[0])

for number in numbers:
    if number == 3:
        break
    print(f"Number: {number}")

for number in numbers:
    if number/2 == 1:
        continue
    print(f"number: {number}")

1
Number: 1
Number: 2
number: 1
number: 3
number: 4
number: 5

In [51]:
fruits = ["apple", "banana", "Cherry"]
print(fruits)

fruits.append("grape")
print(fruits)

fruits.pop(2)
print(fruits)

['apple', 'banana', 'Cherry']
['apple', 'banana', 'Cherry', 'grape']
['apple', 'banana', 'grape']

In [52]:
# Tuple
dimensions = (10, 20, 15)
print(dimensions[0])

10

In [55]:
# Dictionary
#- A dictionary is a collection of key-value pairs. It is mutable and can be modified after

student = {
    "name": "André",
    "age" : 21,
    "major" : "Data science",
    "is_student": True
}
print(student)

print(student["name"])

student["age"] = 30

print(student)

student["grade"] = "A"
print(student)

removed_major = student.pop("major")

print(student)

{'name': 'André', 'age': 21, 'major': 'Data science', 'is_student': True}
André
{'name': 'André', 'age': 30, 'major': 'Data science', 'is_student': True}
{'name': 'André', 'age': 30, 'major': 'Data science', 'is_student': True, 'grade': 'A'}
{'name': 'André', 'age': 30, 'is_student': True, 'grade': 'A'}

In [56]:
#Sets

color_set = {"red", "blue", "green", "yellow"}

is_green_here = "green" in color_set
print(is_green_here)

True

In [59]:
#list comprenhension
squares = []
for num in range(5):
    squares.append(num ** 2)

print(squares)

square_list_comprenhension = [num ** 2 for num in range(5)]
print(square_list_comprenhension)

[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

nested data structures

In [64]:
#List of List

matrix = [[1,2,3], [4,5,6], [7,8,9]]
print(matrix)

print(len(matrix))
print(matrix[1][1])

matrix[0][0] = 99
print(matrix)

new_row = [10,11,12]
matrix.append(new_row)
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3
5
[[99, 2, 3], [4, 5, 6], [7, 8, 9]]
[[99, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [67]:
#dictionary of dictionary
students = {
    "Alice" : {"age":22, "major":"mathematics"},
    "bob" : {"age":25, "major":"economics"},
}

print(students)

print(students["Alice"]["age"])

students["Alice"]["age"] = 25
new_student = {"age":20, "major":"science"}
students["Charlie"] = new_student

print(students)

{'Alice': {'age': 22, 'major': 'mathematics'}, 'bob': {'age': 25, 'major': 'economics'}}
22
{'Alice': {'age': 25, 'major': 'mathematics'}, 'bob': {'age': 25, 'major': 'economics'}, 'Charlie': {'age': 20, 'major': 'science'}}

In [72]:
people = [
    {'Alice': {'age': 25, 'major': 'mathematics'}, 
    'bob': {'age': 25, 'major': 'economics'}, 
    'Charlie': {'age': 20, 'major': 'science'}}
]

print(type(people))
print(type(people[0]))
print(people[0]["Charlie"])

<class 'list'>
<class 'dict'>
{'age': 20, 'major': 'science'}

Functions

In [81]:
def greet():
    print("Hello, world!")

greet()

def greet_person(name):
    print(f"Hello, {name}!")

greet_person("André")

def greet_with_defaults(name = "Carlos"):
    print(f"Hello, {name}!")

greet_with_defaults()
greet_with_defaults("Charlie")

def square(number):
    return number ** 2

result = square(5)
print(result)

def calculate_rectangle_area(length, width):
    area = length * width
    perimeter = 2*(length + width)
    return area, perimeter

area, perimeter = calculate_rectangle_area(4,6)
print(f"Area: {area}, Perimeter: {perimeter}")

def calculate_sum(*args):
    total = sum(args)
    return total

print(calculate_sum(1,2,3,4,5))

square = lambda x: x ** 2
result = square(3)
print(result)

Hello, world!
Hello, André!
Hello, Carlos!
Hello, Charlie!
25
Area: 24, Perimeter: 20
15
9

In [82]:
import random

random.randint(1,20)

6

In [90]:
from random import choice, shuffle

my_list = [1,2,3,4,5]
print(choice(my_list))

shuffle(my_list)
print(my_list)

1
[4, 2, 1, 5, 3]

In [91]:
import random as rnd

rnd.randint(1,5)

3

Class and object

In [92]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age 

    def bark(self):
        print(f"{self.name} says Woof!")

In [95]:
dog1 = Dog("Buddy", 3)
dog2 = Dog("Max", 5)

print(dog1.name)
print(dog1.age)
print(dog2.name)
print(dog2.age)

dog1.bark()
dog2.bark()

Buddy
3
Max
5
Buddy says Woof!
Max says Woof!